<div ng-controller="DashboardController">

    <div class="col-md-offset-2 col-md-8">
        <div class="main-holder active">

            <div class="user-info">
                <div class="user-picture">
                    <img ng-src="{{ avatar }}" />
                </div>
                <div class="user-name">{{ name }}</div>
                <div class="user-sub">{{ headline }}</div>
            </div>

            <div class="row status-boxes">

                <div class="col-sm-3">

                    <div class="fork-box">
                        <strong><img src="assets/images/fork-icon.png" /> 20</strong>
                        <span>Forks</span>
                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="repo-box">
                        <strong><img src="assets/images/repo-icon.png" /> 20</strong>
                        <span>Repositories</span>
                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="following-box">
                        <strong><img src="assets/images/following-icon.png" /> 20</strong>
                        <span>Repositories</span>
                    </div>
                </div>

                <div class="col-sm-3">

                    <div class="followers-box">
                        <strong><img src="assets/images/followers-icon.png" /> 20</strong>
                        <span>Followers</span>
                    </div>
                </div>
            </div>

            <div class="row p-l-15 p-r-25">

                <div class="languages-holder">
                    <ul class="languages">
                        <li ng-repeat="(key, value) in languages">
                            <div class="col-sm-6">
                                <img ng-src="assets/logos/{{ key }}.svg" />
                                <label>{{ key }}</label>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%">{{ value }}%</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>


        </div>
    </div>

</div>
