<div ng-controller="DashboardController">

    <div class="col-md-offset-2 col-md-8">
        <div class="main-holder active">
            
            <div class="user-info">
                <div class="user-picture">
                    <img src="assets/images/bruno.jpeg" />
                </div>
                <div class="user-name">Bruno Genaro</div>
                <div class="user-sub">Subtitle Here - Position</div>
            </div>
            
            <div class="row status-boxes">
                
                <div class="col-sm-3">
                    
                    <div class="fork-box">
                        <strong><img src="assets/images/fork-icon.png" /> 20</strong>
                        <span>Forks</span>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="repo-box">
                        <strong><img src="assets/images/repo-icon.png" /> 20</strong>
                        <span>Repositories</span>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="following-box">
                        <strong><img src="assets/images/following-icon.png" /> 20</strong>
                        <span>Repositories</span>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    
                    <div class="followers-box">
                        <strong><img src="assets/images/followers-icon.png" /> 20</strong>
                        <span>Followers</span>
                    </div>
                </div>
                
            </div>
            
            <div class="row p-l-15 p-r-25">
                
                <div class="col-sm-6 languages-holder">
                    <ul class="languages">
                        <li>
                            <img src="assets/logos/html-5.svg" />
                            <label class="linkedin">HTML 5</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">75%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/css-3.svg" />
                            <label class="linkedin">CSS 3</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">45%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/javascript.svg" />
                            <label class="linkedin">Javascript</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">85%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/angular-icon.svg" />
                            <label class="linkedin">Angular</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">75%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/nodejs-icon.svg" />
                            <label class="linkedin">Node.js</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">35%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/apple.svg" />
                            <label class="linkedin">Apple</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">45%</div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="col-sm-6 languages-holder">
                    <ul class="languages">
                        <li>
                            <img src="assets/logos/html-5.svg" />
                            <label class="linkedin">HTML 5</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">75%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/css-3.svg" />
                            <label class="linkedin">CSS 3</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">45%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/javascript.svg" />
                            <label class="linkedin">Javascript</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">85%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/angular-icon.svg" />
                            <label class="linkedin">Angular</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">75%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/nodejs-icon.svg" />
                            <label class="linkedin">Node.js</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">35%</div>
                            </div>
                        </li>
                        
                        <li>
                            <img src="assets/logos/apple.svg" />
                            <label class="linkedin">Apple</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">45%</div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            
            
        </div>
    </div>
    
</div>
