<form ng-controller="HomeController">
    <div class="login-form">
        <div class="form-group">
            <input type="text" class="form-control linkedin-icon" ng-model="linkedin" placeholder="LinkedIn URL" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control github-icon" ng-model="github" placeholder="Github Username" />
        </div>

        <button class="btn btn-primary btn-block" ng-click="getResults(this)">Retrieve Information</button>
    </div>
</form>